<form action="">
    <p>
        <label for="txtitulo">Titulo</label>
    </p>
        <input type="text" name="txtitulo" id="txtitulo">
    

    <p>
        <label for="conteudo">Conteudo</label>
    </p> 
        <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
    
</form>